@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Parking Database System</h1>
</div>

<br />
<br />

<div class="text-center">
<div class="container justify-content-center">
    <div class="row">
        <div class="col-md">
            <h1>
                <a asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a>
            </h1>
        </div>

        <div class="col-md">
            <h1>
                <a asp-area="" asp-controller="Permits" asp-action="Index">Permits</a>
            </h1>
            </div>
        </div>
    <div class=" row">
        <div class="col-md">
            <h4>
                <a asp-area="" asp-controller="Vehicles" asp-action="Create">Add New Vehicle</a>
            </h4>
        </div>
        <div class="col-md">
            <h4>
                <a asp-area="" asp-controller="Permits" asp-action="Create">Add New Permit</a>
            </h4>
        </div>
    </div>
    </div>
    </div>
    
