@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Parking Database System</h1>
</div>

<br />
<br />

<div class="text-center">
<div class="container justify-content-center">
        
            <h1>
                <a asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a>
            </h1>

            <h1>
                <a asp-area="" asp-controller="Permits" asp-action="Index">Permits</a>
            </h1>

    </div>

    </div>
    
